<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--bind a Dao/Mapper interface-->
<mapper namespace="com.example.demo1.dao.IPostsDao">

    <insert id="insertPostToBaseDeDonneesParMybatisFrameWorkToDayNiceImGladLoL">
        INSERT INTO tea.posts
        VALUES (#{param1}, #{param2});
    </insert>
    <select id="selectFriendsPost" resultType="com.example.demo1.pojo.Posts">

        SELECT posts.aId,posts.content
        FROM tea.posts
        WHERE aId IN
              (select distinct first.aim_id
               from tea.relation First,
                    tea.relation SECOND
               WHERE First.aim_id = SECOND.host_id
                 AND First.host_id = SECOND.aim_id
                 AND First.host_id = #{aid})
        OR aid = #{aid}


    </select>


</mapper>